body, html {
    height: 100%;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .bg-img {
    /* The image used */
    background-image: url("../images/login_image.jpg");
  
    /* Control the height of the image */
    min-height: 800px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .container{
    display: inline-block;
    max-width: 500px;
    width: 100%;
    background-color: rgba(231, 227, 227, 80%);
    padding: 32px 25px 25px;
    position:relative; left:500px; top:250px;
    color: rgb(58, 56, 151);
}
#login{
 text-align: center;
}
  /* Full-width input fields */
    input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit button */
  .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border-radius: 25px;
  }
  
  .btn:hover {
    opacity: 1;
  }